<ion-view view-title="Home">
  <ion-content>
    <h1>Home</h1>
    <!--<div id="progressBar" ng-controller="progressBar" class="container">-->
      <!--<label class="row text-center">-->
        <!--<div class="col col-33">Progress</div>-->
      <!--</label>-->
      <!--<progressbar class="progress-striped active" animate="true" max="100" value="55" type="success">-->
        <!--<i><span count-to="55" duration="1" count-from="0"></span>%</i>-->
      <!--</progressbar>-->
    <!--</div>-->
  </ion-content>
</ion-view>
